{% extends "base.html" %}

{% block title %}
Shopping Cart
{% endblock %}

{% block content %}

<section class="page-header">

    <span>SHOPPING CART</span>

    <h1>
        Your Cart
    </h1>

</section>


<section class="cart-section">

{% if cart %}

<div class="cart-list">

{% for id, item in cart.items() %}

<div class="cart-item">

    <img src="{{ url_for(
        'static',
        filename='images/' + item.image
    ) }}">

    <div class="cart-info">

        <h3>
            {{ item.name }}
        </h3>

        <p>
            ₹{{ "%.2f"|format(item.price) }}
        </p>

        <span>
            Quantity:
            {{ item.quantity }}
        </span>

    </div>

    <strong>
        ₹{{ "%.2f"|format(item.subtotal) }}
    </strong>

    <a class="remove"
       href="{{ url_for(
       'remove_from_cart',
       product_id=id
       ) }}">
        Remove
    </a>

</div>

{% endfor %}

</div>


<div class="cart-summary">

    <h2>
        Order Summary
    </h2>

    <div class="summary-row">

        <span>Total</span>

        <strong>
            ₹{{ "%.2f"|format(total) }}
        </strong>

    </div>

    <a href="{{ url_for('checkout') }}"
       class="btn primary full">
        Proceed to Checkout
    </a>

</div>

{% else %}

<div class="empty-cart">

    <div>🛒</div>

    <h2>
        Your cart is empty
    </h2>

    <p>
        Add some products to continue.
    </p>

    <a href="{{ url_for('products') }}"
       class="btn primary">
        Shop Now
    </a>

</div>

{% endif %}

</section>

{% endblock %}