{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <img src="{{ url_for(
            'static',
            filename='images/logo.png'
        ) }}">

        <h1>
            Welcome Back
        </h1>

        <p>
            Login to your Chennai RO account.
        </p>

        <form method="POST">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter your email"
                required
            >

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter password"
                required
            >

            <button class="btn primary full">
                Login
            </button>

        </form>

        <p>
            Don't have an account?

            <a href="{{ url_for('register') }}">
                Register
            </a>
        </p>

    </div>

</div>

{% endblock %}